<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Fungipedia</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="content">
      <div class="header">
        <h1>Mushroom pictures</h1>
        <div class="search-bar">
          <form id="search-form">
            <input type="text" id="search-input" value="{{ search }}"/>
            <input type="submit" value="search"/>
          </form>
        </div>
      </div>
      <div class="pagination-bar">
        Page {{ pagination.page }}/{{ pagination.pages }} | Total: {{ pagination.count }}
      </div>
      <div class="list">
        {% for filename in filenames offset:pagination.offset limit:pagination.limit %}
          <div class="item" id="{{ filename | slugify }}">
            <a href="/{{ filename }}">
              <img src="media/{{ filename }}"/>
            </a>
            <div class="photo-bar">
              <small>{{ filename }}</small>
              <small><a href="javascript:hidePicture('{{ filename }}')">hide</a></small>
            </div>
            <p class="scientific">{{ data[filename].scientific_name }}</p>
            <p class="common">{{ data[filename].other_names | join }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="pagination-bar">
        <div class="pagination">
          {% if pagination.previous > 0 %}
            <a href="?page={{ pagination.previous }}{% if search %}&search={{ search }}{% endif %}">&lt; Previous</a>
          {% endif %}
          {% for i in (1..pagination.previous) %}
            <a href="?page={{ i }}{% if search %}&search={{ search }}{% endif %}">{{ i }}</a>
          {% endfor %}
          <span>{{ pagination.page }}</span>
          {% for i in (pagination.next..pagination.pages+1) %}
            <a href="?page={{ i }}{% if search %}&search={{ search }}{% endif %}">{{ i }}</a>
          {% endfor %}
          {% if pagination.next <= pagination.pages %}
            <a href="?page={{ pagination.next }}{% if search %}&search={{ search }}{% endif %}">Next &gt;</a>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="js/axios.min.js"></script>
    <script type="text/javascript">
      async function hidePicture(filename) {
        const result = await axios.delete(filename)
        const el = document.getElementById(filename.split('.').join('-'))
        el.className += ' hidden'
      }

      const searchForm = document.getElementById('search-form')
      searchForm.addEventListener('submit', function(event) {
        event.preventDefault()
        const searchTerm = document.getElementById('search-input').value
        if (searchTerm !== '') {
          window.location.href = `${window.location.origin}?search=${searchTerm}`
        } else {
          window.location.href = `${window.location.origin}`
        }
      })

      document.onkeydown = function (e) {
        switch (e.keyCode) {
          case 37:
            if ( {{ pagination.previous }} > 0 ) {
              window.location.href = `${window.location.origin}?page={{ pagination.previous }}{% if search %}&search={{ search }}{% endif %}`
            }
            break
          case 39:
            if ( {{ pagination.next }} <= {{ pagination.pages }} ) {
            window.location.href = `${window.location.origin}?page={{ pagination.next }}{% if search %}&search={{ search }}{% endif %}`
            }
            break
          default:
            return
        }
      }
    </script>
  </body>
</html>
