<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Fungipedia - {{ filename }} </title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="content">
      <div class="header">
        <div><h1>{{ filename }}</h1></div>
        <a href="/?page={{ page }}">Home</a>
      </div>

      <div class="pagination-bar">
        <div class="pagination">
          <a href="{{ previous }}">&lt; Previous</a>
          <a href="{{ next }}">Next &gt;</a>
        </div>
      </div>

      <img src="media/{{ filename }}"/>

      <form method="post" action="/{{ filename }}?next={{ next }}">
        <div class="form-item">
          <label for="scientific_name">Scientific name:</label>
          <input type="text" name="scientific_name" value="{{ data['scientific_name'] }}"/>
        </div>

        <div class="form-item">
          <label for="other_names">Other names (separated by comma):</label>
          <input type="text" name="other_names" value="{{ data['other_names'] | join }}">
        </div>

        <div class="form-item">
          <label for="description">Description:</label>
          <input type="text" name="description" value="{{ data['description'] }}"/>
        </div>

        <div class="form-item">
          <label for="date">Date:</label>
          <input type="text" name="date" value="{{ data['date'] }}">
        </div>

        <div class="form-item">
          <label for="location">Location:</label>
          <input type="text" name="location" value="{{ data['location'] }}">
        </div>

        <div class="form-item">
          <label for="tags">Tags (separated by comma):</label>
          <input type="text" name="tags" value="{{ data['tags'] | join }}">
        </div>

        <input type="button" onclick="return copyPreviousData()" value="Copy previous data"/>
        <input type="submit" value="Save"/>
      </form>
    </div>
    <script type="text/javascript">
      document.onkeydown = function (e) {
        if ( e.target.tagName !== 'INPUT' ) {
          switch (e.keyCode) {
            case 37:
              window.location.href = `${window.location.origin}/{{ previous }}`
              break
            case 39:
              window.location.href = `${window.location.origin}/{{ next }}`
              break
            default:
              return
          }
        }
      }

      function copyPreviousData(e) {
        document.getElementsByName("scientific_name")[0].value = "{{ previousData['scientific_name'] }}"
        document.getElementsByName("other_names")[0].value = "{{ previousData['other_names'] | join }}"
        document.getElementsByName("description")[0].value = "{{ previousData['description'] }}"
        document.getElementsByName("date")[0].value = "{{ previousData['date'] }}"
        document.getElementsByName("location")[0].value = "{{ previousData['location'] }}"
        document.getElementsByName("tags")[0].value = "{{ previousData['tags'] | join }}"
        return false
      }
    </script>
  </body>
</html>
