body {
  font-family: monospace;
}

div.content {
  max-width: 1000px;
  margin: 0 auto;
}

div.content img {
  width: 100%;
}

div.header {
  display: flex;
  justify-content: space-between;
}

div.header h1 {
  display: inline-block;
}

div.header .search-bar {
  padding-top: 10px;
  font-size: 12px;
}

div.list {
  display: flex;
  flex-wrap: wrap;
}

div.item {
  background-color: #f0f0f0;
  min-width: 200px;
  flex: 1;
  padding: 10px;
  margin: 10px;
}

div.item.hidden {
  background-color: #ffaaaa;
}

div.item img {
  height: 150px;
	object-fit: cover;
	width: 100%;
}

div.item p.scientific {
  font-size: 15px;
  font-style: italic;
  font-family: serif;
	margin: 10px 0 0 0;
}

div.item p.common {
	margin: 0;
}

div.item div.photo-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

form .form-item {
  margin: 10px 0;
}

form .form-item input {
  display: inline-block;
  width: 65%;
}

form .form-item label {
  display: inline-block;
  width: 30%;
}

div.pagination-bar {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}


